
.pricing-table {
    border: 25px solid #3a4965;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;

}

.pricing-table-data {
    width: 280px;
    height: 70px;
    border: 1px solid #dadada;
    vertical-align: middle;
    text-align: center;
}

.pricing-plan-header {
    color: #484848;
    font-weight: 700;
}

.first-column-width {
    width: 310px;
}

.first-cell-upper-case {
    display: block;
    font-size: 30px;
}

.header-bg-green {
    background-color: #89c331;
    font-size: 24px;
    color: #ffffff;
}

.header-bg-pink {
    background-color: #f04a56;
    font-size: 30px;
    color: #ffffff;
}

.header-bg-indigo {
    background-color: #20807c;
    font-size: 24px;
    color: #ffffff;
}

.price-offer {
    position: relative;
    padding-left: 20px;
    text-align: left;
    font-size: 60px;
}

.cent-item {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 120px;
    font-size: 24px;
}

.per-month-item {
    font-size: 18px;
    font-weight: 400;
}

.pricing-plan-products {
    color: #484848;
}

.pricing-plan-icon {
    font-size: 24px;
    color: #848484;

}

.contact-us-cell {
    background-color: #dddddd;
}

.buttons-block {
    height: 110px;
}

.pricing-table-btn {
    display: inline-block;
    padding: 20px 60px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 0 solid #eee;
    box-shadow: 0 -7px 0 rgba(0, 0, 0, 0.18) inset;
}

.pricing-table-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 2px gainsboro, 0 0 0 4px darkgrey;
}

.contact-us-black-btn {
    padding: 20px 45px;
    background-color: #484848;
}

.buy-now-green-btn {
    background-color: #89c331;
}

.buy-now-pink-btn {
    background-color: #f04a56;
}

.buy-now-indigo-btn {
    background-color: #20807c;
}

.pricing-plan-products:nth-child(2n+1) {
    background-color: #f2f2f2;
}

.pricing-plan-products:nth-child(2n+4){
    background-color: #e3e3e3;
}

.shadow-border {
    box-shadow: inset -5px 0 5px -5px #bbb;
}
